.container {
    justify-content: center;
    align-items: center;

}

h1 {
    margin: 0;
    margin-bottom: .5rem;
    text-align: center;
}

.input {
    border: 1px solid black;
    border-radius: .3em;
    padding: .25rem;
    width: 10em;
    margin: 0;
    display: flex;
    text-align: center;

}

select {
    margin-left: .5rem;

}

.equals {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}