.card {
    margin: auto;
    justify-content: center;
    align-items: center;
    max-width: 20vw;
    text-align: center;
}

h1 {
    margin: 0;
    margin-bottom: .5rem;
    color: black;
    text-align: center;
}



.input {
    border: 1px solid black;
    border-radius: .3em;
    padding: .25rem;
    width: 10em;
    margin: 0;
    display: flex;
    text-align: center;

}

select {
    width: 10em;
    font-size: larger;
}


.equals {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}