.currencyPage {
    border: 20px solid;
    border-image-source: linear-gradient(45deg, rgb(167, 228, 0), rgb(225, 245, 205));
    border-image-slice: 1;
    @media (min-width: 376px), (max-width: 768px) {
       margin: 0;
    }
}

.icon-convert {
    size: 150px;
    width: 100px;
    margin : {
        top: 10px;
        bottom: 10px;
        right: 0;
        left: 0;
    }    
}

h1 {
    color: black;
    text-align: center;
}

#amount {
    border: 10px solid;
    border-image-source: linear-gradient(45deg, rgb(221, 240, 187), rgb(141, 243, 7));
    border-image-slice: 1;
    width: auto;
    padding: 10px;
}

#select {
    width: auto;
    font-size: x-large;
}

.equals {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

.wrapper {
    padding: 10px;
    margin : {
        top: 40px;
        bottom: 40px;
    }
}