.App {
  display: flex;
  align-items: center;
}

.randomPage {
  border: 20px solid;
    border-image-source: linear-gradient(45deg, rgb(12, 12, 12), rgb(137, 138, 137));
    border-image-slice: 1;
    @media (min-width: 376px), (max-width: 768px) {
       margin: 0;
    }
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.randomButton {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 100;
  font-size: 30px;
  color: black;
  background-image: linear-gradient(
    to right,
    rgb(183, 224, 136),
    rgb(134, 235, 39)
  );
  padding: 10px 20px;
  border-radius: 90px;
  transition: all 0.3s;
  box-shadow: 0 11px 25px rgba(0, 0, 0, 0.4);
  border: none;
  outline: none;
}

.randomButton:hover {
  transform: translateY(-5px);
  border: none;
  outline: none;
}

.randomButton:active {
  transform: translateY(-2px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  outline: none;
  border: none;
}

.randomButton::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 100px;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s;
  border: none;
  outline: none;
}

.randomButton:hover::after {
  transform: scale(1.4);
  background-image: linear-gradient(
    to right,
    rgb(194, 228, 163),
    rgb(156, 214, 118)
  );
  transform: scaleX(1.3) scaleY(1.8);
  opacity: 0;
  border-color: #fff;
  border: none;
  outline: none;
}

.randomButton:focus {
  border: none;
  outline: none;
}

.resetButton {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 100;
  font-size: 30px;
  color: black;
  background-image: linear-gradient(
    to right,
    rgb(183, 224, 136),
    rgb(134, 235, 39)
  );
  padding: 10px 20px;
  border-radius: 90px;
  transition: all 0.3s;
  box-shadow: 0 11px 25px rgba(0, 0, 0, 0.4);
  border: none;
  outline: none;
}

.resetButton:hover {
  transform: translateY(-5px);
  border: none;
  outline: none;
}

.resetButton:active {
  transform: translateY(-2px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  border: none;
  outline: none;
  border-color: #fff;
}

.resetButton::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 100px;
  z-index: -1;
  transition: all 0.3s;
  border-color: #fff;
  border: none;
  outline: none;
}

.resetButton:hover::after {
  transform: scale(1.4);
  background-image: linear-gradient(
    to right,
    rgb(186, 186, 215),
    rgb(131, 131, 176)
  );
  transform: scaleX(1.3) scaleY(1.8);
  opacity: 0;
  border: none;
  outline: none;
}

.resetButton:focus {
  border: none;
  outline: none;
}

h2 {
  text-align: center;
}

.randomOutput {
  font-size: 40px;
  float: right;
  display: inline;
  text-align: center;
}