.randomButton {
  grid-column: span 1;
  background-color: rgb(122, 122, 177);
  color: black;
  padding: 1rem 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  text-align: center;
  margin: 100px;
}

.resetButton {
  grid-column: span 1;
  background-color: rgb(122, 122, 177);
  color: black;
  padding: 1rem 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  text-align: center;
  margin: 100px;
}
