.savingsPage {
    text-align: center;
    background-image: url('/Savings.jpg');
    display: flex;
    flex-direction: column;
}
.savingsContainer {
    display: flex;
    border : {
        width: 2px;
        color: black;
        style: solid;
        radius: 5%;
    }
    margin: 2%;
    background-image: url(../img/savings.jpg);
}

.wrapper {
    order: 0;
    @media (max-width: 375px) {
        order: 0;
    }
    margin: auto;
    margin-right: 2%;
}

.calculateButton {
    margin : {
        top: 10px;
        bottom: 20px;
    }
    color: white;
    background-color:black;
    font-size: 14px;
    font-family: "montserrat";
    text-decoration: none; 
    border: 2px solid #c0f198;
    padding: 14px 60px;
    text-transform: uppercase;   
}

.sidebar { 
    order: 0;  
    padding: 2%;
    margin-right: auto;
    margin-left: 2%;
    color: white;
    @media (max-width: 375px) {
        order: 1;
    }
}

.lineChart {
    order: 2;
}
